[Unit]
Description=SQSH daemon
After=network.target

[Service]
ExecStart=/usr/bin/sqshd --config /etc/sqsh/sqshd.toml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
